.main-1{
    height: 900px;
    width: 900px;
   background-color: aquamarine;
   font-size: 30px;
   
}
.sub-1{
    height: 40%;
    width: 100%;
    color: blue;
    background: linear-gradient(to top,#CCFFFF,#CCFF99,#FFCCFF);
    font-size: 2em;
    
}
.sub-2{
    height: 60%;
    width: 100%;
    color: ;
    background: linear-gradient(120deg,#CC9999,#CC99FF,#CC6666);
    font-size: 4rem;
}